
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<section class="p-5" style="height: 100vh;"> 
  <div class="container px-5 rounded-4" style="background-color:#fff">
    <div class="col-md-6 text-right mt-4">
      <button onclick="loadPages('{{this.department}}')" class="btn btn-success ml-auto">Add Notes</button>
            <a href="/admin/assignmentCheck?department={{this.department}}" class="btn btn-secondary mt-2 mb-2" data-toggle="tooltip" title="check assignment details">More Activities</a>
    </div>
    <h3 class="text-center mt-2">{{this.department}}</h3>
    <table id="dataTable">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Content</th>
          <th scope="col">File</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <th class="p-3" scope="row">{{inc @index}}</th>
          <td class="p-3">{{this.name}}</td>
          <td class="p-3">{{this.content}}</td>
         {{#if file}}
         <td class="p-3"> 
            
            <button onclick="openPDF('../pdf/{{this.file}}')" class="btn btn-primary">Open PDF</button>
            <a class="btn text-center text-muted btn-outline-secondary rounded-2" href="../pdf/{{this.file }}" download>Download</a>
            
          </td>
           {{else}}
           <p>No file available for viewing.</p>
           {{/if}}
           <td class="p-3">
            <a href="/admin/edit-files?id={{this._id}}&department={{this.department}}" class="btn btn-primary">Edit</a>
            <a href="/admin/delete?id={{this._id}}&department={{this.department}}" class="btn btn-danger">Delete</a>
          </td>
           
           
          
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

 <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include DataTables JS -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <!-- Include Bootstrap JS (for responsive behavior) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function openPDF(pdfUrl) {
        window.open(pdfUrl, '_blank');
    }

    function loadPages(department) {
    // Redirect to the /admin route with the department parameter
    window.location.href = `/admin/add-files?department=${department}`;
  }


   $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

    jQuery.noConflict();
    (function($) {
      // Use $ for jQuery code here
      $('#dataTable').DataTable({
        "dom": '<"row justify-content-between"lfB>rtip',
        "buttons": [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    })(jQuery);
  </script>