<style>
  .email {
    font-size: medium;
    color: blueviolet;
  }
</style>

<section class="mt-4">
  <div class="container">
    <h1 class="text-center mb-5">{{selectedSubject}} Assignments</h1>
    
    {{#each data}}
      <h2>User: {{this.user.firstname}} {{this.user.lastname}}</h2>
      <p>Email: <span class="email">{{this.user.email}}</span></p>
      <table class="table">
        <thead>
          <tr>
            <th>Assignment Number</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#if this.assignment.length}}
            {{#each this.assignment}}
              <tr>
                <td>{{this.number}}</td>
                <td>
                  <div class="options">
                    {{#if this.file}}
                      <button onclick="openPDF('../assignmentPdf/{{this.file}}')" class="btn btn-primary btn-sm">Open PDF</button>
                      <a class="btn btn-primary btn-sm" href="../assignmentPdf/{{this.file }}" download>Download</a>
                    {{else}}
                      <p class="small">No file available for viewing.</p>
                    {{/if}}
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="2">No assignments found for this user.</td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    {{else}}
      <p>No users found for the selected subject.</p>
    {{/each}}
  </div>
</section>
