<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
      <div class="col-md-6 text-right">
        <a href="/get-Notes?department={{this.department}}" class="btn btn-secondary mt-2">Back</a>
      </div>
    </div>
    <div class="row mt-4">
      {{#if ifAssignment}}
        {{#each ifAssignment}}
          
            <div class="col-md-3 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="content">
                    <h3 class="card-title" style="font-weight:700;">{{./name}} <span style="font-weight:600;font-size:small;">, SEM {{this.sem}}</span></h3>
                 
                    <p class="card-text text-center text-secondary" style="font-weight:700;font-size:small">ASSIGNMENT NO : {{this.number}}</p>
                    <p class="card-text" style="font-weight:bold">Q : {{this.description}}</p>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="options">
                    <form action="/assignmentSub" method="post" class="form">
                      <input type="text" class="form-control input" name="department" value="{{this.department}}" hidden>                
                      <input type="text" class="form-control input" name="sem" value="{{this.sem}}" hidden>                
                      <input type="text" class="form-control input" name="name" value="{{this.name}}" hidden>
                      <input type="text" class="form-control input" name="number" value="{{this.number}}" hidden>
                      <input type="text" class="form-control input" name="arrayId" value="{{this._id}}" hidden>
                      <input type="text" class="form-control input" name="submitted" value="{{this.submitted}}" hidden>
                      <div class="text-center">
                        <button type="submit" class="btn btn-success submit">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
      
      {{else}}
        <h6 class="text-center">Assignment Submission Not Open...</h6>
      {{/if}}
    </div>
  </div>
</section>
