<style>
    /* Add box shadow to the dropdowns */
    .form-group .form-control {
        box-shadow: 0 2px 4px rgba(63, 37, 229, 0.1);
    }

    .form-container {
        box-shadow: 0 4px 7px rgba(16, 83, 216, 0.1);
    }
</style>

<section class="py-5">
    <div class="container">
        <div class="col-md-6 text-right">
            <a href="/assignmentSub?department={{assignmentCollection.department}}" class="btn btn-secondary mt-2 mb-2">Back</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card form-container">
                    <div class="card-body">
                        <h2 class="text-center mb-4 title">Assignment Submission</h2>

                        <form action="/uploadAssignment" method="post" class="form" enctype="multipart/form-data">

                            <div class="form-group input-container m-4" hidden>
                                <label for="department">Department</label>
                                <input type="text" class="form-control input p-3" name="department" value="{{assignmentCollection.department}}">
                            </div>

                            <div class="form-group input-container m-4">
                                <label for="semester">Select Semester</label>
                                <input type="text" class="form-control input p-3" name="sem" value="{{assignmentCollection.sem}}"> 
                            </div>

                            <div class="form-group input-container m-4">
                                <label for="subject">Select Subject</label>
                                <input type="text" class="form-control input p-3" name="name" value="{{assignmentCollection.name}}">
                            </div>

                            <div class="form-group input-container m-4">
                                <label for="assignment number">Assignment Number</label>
                                <input type="text" class="form-control input p-3" name="number" value="{{assignmentCollection.number}}">
                            </div>
                            <div class="form-group input-container m-4">
                                <input type="text" class="form-control input p-3" name="userId" value="{{user._id}}">
                            </div>
                            <div class="form-group input-container m-4" >
                                <input type="text" class="form-control input p-3" name="arrayId" value="{{assignmentCollection.arrayId}}">
                            </div>
                            <div class="form-group input-container m-4">
                                <label for="reg number">Reg Number</label>
                                <input type="text" class="form-control input p-3" name="Regnumber">
                            </div>
                            <div class="form-group input-container  m-4">
                                <label for="file">PDF File:</label>
                                <input type="file" class="form-control p-3" name="file" accept=".pdf">
                            </div>



                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-4 submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>